@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <title>Bienvenido a mi proyecto</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: navy;
            color: white;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="text-center mt-5">
            <h1 class="display-4">Bienvenido</h1>
            <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        </div>

        <h1>Bienvenido a mi proyecto</h1>
        <p style="font-size: 19px;">Este proyecto tiene como objetivo proporcionar una herramienta eficiente para la gestión de usuarios de una organización. Con esta aplicación, los administradores pueden registrar nuevos usuarios, actualizar su información y eliminar cuentas de usuario existentes o ver informacion existente.</p>
        <p style="font-size: 19px;">Además, la aplicación también permite la visualización y búsqueda de usuarios registrados. Los usuarios pueden iniciar sesión en la aplicación y ver su información personal, como su nombre, correo electrónico y número de teléfono.</p>
        <p style="font-size: 19px;">El objetivo principal de esta aplicación es mejorar la eficiencia y la seguridad en la gestión de usuarios, al mismo tiempo que proporciona una experiencia intuitiva y fácil de usar tanto para los administradores como para los usuarios finales.</p>
        <p style="font-size: 19px;">Un sistema de gestión de usuarios desarrollado con ASP.NET MVC</p>
        <div class="container">
            <h2>Recursos adicionales</h2>
            <ul>
                <li><a href="https://example.com/documentacion">Documentación</a></li>
                <li><a href="https://example.com/blog">Blog</a></li>
            </ul>
        </div>
        <div class="container shadow mt-3 rounded text-center">
            <img src="https://img.freepik.com/vector-premium/interfaz-usuario-registro-o-registro-usuarios-utilizan-inicio-sesion-contrasena-seguros-recopilacion-datos-linea_566886-2046.jpg" class="d-block mx-auto my-4" style="width: 200px; height: 130px;" />
        </div>
    </div>
</body>
</html>
