@{
    ViewData["Title"] = "Política de Privacidad";
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <style>
        body {
            background-color: aliceblue;
        }

        h2 {
            font-size: 28px;
        }

        p {
            font-size: 20px;
        }
    </style>
</head>
<body>
    <h2 style="color: blue;">Recopilación y uso de información personal</h2>
    <p>En nuestro sitio web [o aplicación], recopilamos información personal cuando los usuarios se registran o se comunican con nosotros a través de nuestro formulario de contacto o nuestro servicio de atención al cliente. Esta información puede incluir el nombre, la dirección de correo electrónico y la información de contacto del usuario, así como otra información relevante para su experiencia en nuestro sitio web [o aplicación].</p>
    <p>Usamos la información personal que recopilamos para mejorar nuestro sitio web [o aplicación] y ofrecer una experiencia más personalizada para nuestros usuarios. También podemos utilizar esta información para ponernos en contacto con los usuarios sobre actualizaciones de productos, promociones y otras noticias relevantes.</p>
</body>
</html>
